.idea/.idea.README/riderModule.iml
.idea/.idea.README/.idea/.name
.idea/.idea.README/.idea/contentModel.xml
.idea/.idea.README/.idea/indexLayout.xml
.idea/.idea.README/.idea/modules.xml
.idea/.idea.README/.idea/vcs.xml
.idea/.idea.README/.idea/workspace.xml
